form input, form select {
    width: 100%;
    padding: var(--space-16);
    border-radius: var(--radius-sm);
    border: 1px solid var(--gray-300);
    margin-bottom: var(--space-24);
}

form input:focus {
    border-color: var(--color-primary);
}
