header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-16);
    background: var(--white);
    box-shadow: var(--shadow-sm);
    position: sticky;
    top: 0;
    z-index: 10;
}


nav ul {
    display: flex;
    gap: var(--space-24);
}

nav a {
    color: var(--gray-900);
    font-size: var(--font-size-md);
    transition: 0.2s;
}

nav a:hover {
    color: var(--color-primary);
}


.dropdown {
    position: relative;
}

.dropdown ul {
    display: none;
    position: absolute;
    background: var(--white);
    box-shadow: var(--shadow-md);
    padding: var(--space-16);
    border-radius: var(--radius-md);
    top: 100%;
}

.dropdown:hover ul {
    display: block;
}


.menu-btn {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
}

#mobile-nav {
    display: none;
    flex-direction: column;
    gap: var(--space-16);
}
