@media (max-width: 1024px) {
    nav ul {
        display: none;
    }
    .menu-btn {
        display: block;
    }
    #mobile-nav.active {
        display: flex;
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
