.btn {
    background: var(--color-primary);
    color: var(--white);
    padding: var(--space-16) var(--space-24);
    border-radius: var(--radius-md);
    border: none;
    cursor: pointer;
    transition: .2s;
}

.btn:hover {
    background: var(--color-primary-light);
}

.btn.ghost {
    background: transparent;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
}
